.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: rgb(214, 230, 230);
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  height: 90%;
  overflow-y: auto;
}

.tech-list{
  font-size: 1.2em;
  font-weight: bold;
}

.tech-sub-list{
  margin-left: 24px;
}
.credits{
  margin-top: 10px;
  margin-left: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.features{
  font-size: 1.3em;
}

