<div class="grid-container">
  <h1 class="mat-h1">Components Demo Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button> 
            <!-- To be implemented later -->
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ng-container *ngIf="card.id == 'stickyNote'; then stickyNoteTemplate; "></ng-container>
          <ng-container *ngIf="card.id == 'card2'; then card2Template; "></ng-container>
          <ng-container *ngIf="card.id == 'card3'; then card3Template; "></ng-container>
          <ng-container *ngIf="card.id == 'card4'; then card4Template; "></ng-container>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- NG T E M P L A T E S  -->

<ng-template #stickyNoteTemplate class="master-list-template">
  <div fxLayout="column" fxLayoutAlign="start stretch" class="master-list-inner-template">
    <!-- <pljt-sticky-note-view fxLayout="row" fxLayoutAlign="center center" ></pljt-sticky-note-view> -->
    <pljt-sticky-note-view fxLayout="row" fxLayoutAlign="center center" [orgId]="orgId" [owner]="owner"
      [stickyNotesList]="stickyNotesList"></pljt-sticky-note-view>
    <div class="credits" fxLayout="row" fxLayoutAlign="start">
      Author: Alok Jain
    </div>
    <div class="features" fxLayout="row" fxLayoutAlign="start">
      Features: change note size; pin note; search in notes;add note; delete note; change note color;
      mark note as complete; animate on hover; responsive;
    </div>
  </div>
</ng-template>

<!-- Template -->
<ng-template #card2Template>
  <div fxLayout="row" fxLayoutAlign="stretch stretch" class="tech-list">
    <div fxLayout="row" fxFlex="50%" fxLayoutAlign="start" class="tech-list-1">
      <mat-list>
        <mat-list-item>Angular 8</mat-list-item>
        <mat-list-item>Responsive Design</mat-list-item>
        <mat-list-item>Deployed on cloud</mat-list-item>
        <mat-list-item>Kubernetes and helm</mat-list-item>
        <mat-list-item>Angular material</mat-list-item>
        <mat-list-item>Angular Flex</mat-list-item>
        <mat-list-item>Filter using Pipes</mat-list-item>
        <mat-list-item>Angular library component</mat-list-item>
        <mat-list-item>Custom Dialog</mat-list-item>
        <mat-list-item>Custom Tooltip (matTooltip)</mat-list-item>
        <mat-list-item>SCSS</mat-list-item>
        <mat-list-item>CSS animation</mat-list-item>
        <mat-list-item>Forms</mat-list-item>
      </mat-list>
    </div>
    <div fxLayout="column" fxFlex="50%" fxLayoutAlign="start start" class="tech-list-1">
      Angular material components
      <div class="tech-sub-list">
        <mat-list>
          <mat-list-item>MatGridList</mat-list-item>
          <mat-list-item>MatCard</mat-list-item>
          <mat-list-item>MatMenu</mat-list-item>
          <mat-list-item>MatIcon</mat-list-item>
          <mat-list-item>MatButton</mat-list-item>
          <mat-list-item>MatDailog</mat-list-item>
          <mat-list-item>MatList</mat-list-item>
          <mat-list-item>MatFormField</mat-list-item>
        </mat-list>
      </div>
    </div>

  </div>
</ng-template>

<!-- Template -->
<ng-template #card3Template>
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
    <h2>Quick Links</h2>
  </div>
</ng-template>

<!-- Template -->
<ng-template #card4Template>
</ng-template>