<!-- Custom Dialog body  using mat-card Please note that button labels can be passed in -->
  <mat-card>
    <mat-card-header>
      <mat-card-title><h2>{{ title }}</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h4>{{ message }}</h4>
        <h5 class="warning-text">{{ warningMessage }}</h5>
    </mat-card-content>
    <mat-card-actions>
        <div class="action">
            <div class="cancelButton">
               <!-- default label = No -->
              <button mat-raised-button color="primary" (click)="dialogRef.close(false)">{{cancelButtonString}}</button>
            </div>
            <div class="okButton">
              <!-- default label = Yes -->
              <button mat-raised-button color="primary" (click)="dialogRef.close(true)">{{okButtonString}}</button>
            </div>
          </div>
      </mat-card-actions>
  </mat-card>