.dialog-container{
    padding: 0px;
    display:flex;
    align-items: center;
    flex-direction: column ;
}
.action{
    display:flex;
    flex-direction: row ;
    justify-content: space-around ;
}

.okButton{
    margin-left: 5px;
    padding: 4px;
}

.cancelButton{
    margin-right:5px ;
    padding: 4px;
}

.warning-text {
    color: red;
}