// Color Definitions 
$sticky-notes-bg-color: #e1f5e2;
$sticky-note-default-bg-color: #ffc;
$sticky-note-header-bg-color: #4f7752;
$sticky-note-color: #00f;
$sticky-note-divider-color: #00f;
$sticky-note-edit-border-color: gray;
$sticky-note-edit-container-bg-color: #e1f5e2;
$sticky-note-edit-content-bg-color:#e1f5e2;
// $pin-color: #A31;
$pin-color: #d31;

.fill-remaining{
    flex: 1 1 auto;
}

.icon-3em-bold{
    font-size: 3.0em;
    font-weight: bold;
}

.icon-1-5em-bold{
    font-size: 1.5em;
    font-weight: bold;
}

.mat-delete-button {
    background-color: rgb(230, 5, 5);
    color: #fff;
}

.mat-success-button {
    background-color: green;
    color: #fff;
}

::ng-deep .mat-tooltip {
    background-color: blue ;
    color: yellow  ;
    border-radius: 6px  ;
    margin: 14px  ;
    padding-left: 8px  ;
    padding-right: 8px  ;
    font-size:1.2em ;
}
.icon-2em-bold{
    font-size: 2.0em;
    font-weight: bold;
}

.icon-1em-bold{
    font-size: 1.0em;
    font-weight: bold;
}

.size-small{
    height:1.3em;
    width:1.3em;
    background: #00f;
    color:white;
    
}

.size-medium{
    height:1.6em;
    width:1.6em;
    background: #00f;
    color:white;
}

.size-large{
    height:1.9em;
    width:1.9em;
    background: #00f;
    color:white;
    
}

.size-border{
    border: yellow solid 2px;
}

.size-border-none{
    border: none;
}

.sticky-notes-header{
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
    border-bottom: $sticky-note-divider-color solid 2px;
}



.sticky-note-content{
    height: 150px;
    overflow-y: auto;
}
.sticky-notes .sticky-note h3{
    font-size:140%;
    font-weight:bold;
    padding-bottom:4px;
    margin: 4px 0px;
  
}
.sticky-notes .sticky-note p{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:1.5em;
    margin: 4px 0px;
}

.sticky-notes,.sticky-note{
    list-style:none;
}

.sticky-notes{
    background-color:$sticky-notes-bg-color;
}

.sticky-notes-view-content{
    overflow-y:auto;
    padding:3.0em 2em 1.5em 2em;
    max-height: 35em;
}

.sticky-notes .sticky-note {
    text-decoration:none;
    color:$sticky-note-color;
    // background:$sticky-note-default-bg-color;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    /* Firefox */
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    -webkit-transform:rotate(-6deg);
    -o-transform:rotate(-6deg);
    -moz-transform:rotate(-6deg);
  
    transition: .15s linear;
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
}

.sticky-notes .sticky-note{
    margin:0.5em;
    float:left;
}
  
.sticky-notes .sticky-note:nth-child(even) {
    transform: rotate(4deg);
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    // background:#cfc;
}

.sticky-notes .sticky-note:nth-child(3n) {
    transform: rotate(-3deg);
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    // background:#ccf;
}

.sticky-notes .sticky-note:nth-child(5n) {
    transform: rotate(5deg);
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
}
  
.sticky-notes .sticky-note:hover,.sticky-notes .sticky-note:focus{
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25, 1.25);
    -webkit-transform: scale(1.25, 1.25);
    -moz-transform: scale(1.25, 1.25);
    -o-transform: scale(1.25, 1.25);
    position:relative;
    z-index:5;
}

/* Add the pin shaft */
.pin {
      background-color: #aaa;
      display: block;
      height: 32px;
      width: 2px;
      position: absolute;
      left: 50%;
      top: -16px;
      z-index: 1;
}

/* Pin head and pin head shadow */
.pin:after {
    background-color: $pin-color;
    background-image: radial-gradient(25% 25%, circle, rgba(255, 255, 255, 0.938), hsla(0,0%,0%,.3));
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
                inset 3px 3px 3px hsla(0,0%,100%,.2),
                inset -3px -3px 3px hsla(0,0%,0%,.2),
                23px 20px 3px hsla(0,0%,0%,.15);
    content: '';
    height: 12px;
    left: -5px;
    position: absolute;
    top: -10px;
    width: 12px;
}

.pin:before {
    background-color: hsla(0,0%,0%,0.1);
    box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
    content: '';
    height: 24px;
    width: 2px;
    left: 0;
    position: absolute;
    top: 8px;
    transform: rotate(57.5deg);
    -moz-transform: rotate(57.5deg);
    -webkit-transform: rotate(57.5deg);
    -o-transform: rotate(57.5deg);
    -ms-transform: rotate(57.5deg);
    transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
}


.sticky-note-tasks{
    max-height: 40%;
    overflow-y: auto;
}

.completed-task{
    text-decoration: line-through;
}

/*
    Tasks EDIT 
*/

.sticky-note-edit-container-wrapper{
    padding: 0px;
    margin: 0px;
    border-radius: 1em;
}

.sticky-note-edit-container{
    padding-left: 16px;
    background: $sticky-note-edit-container-bg-color;
    padding-right: 16px;
    width:100%;
    max-width: 400px;
    border-bottom-left-radius:  1em;
    border-bottom-right-radius:  1em;
}

.sticky-note-edit-container h3{
    padding-left: 8px;
    margin: 4px 0px;
    text-align: left;
    
}

.title-and-new-task-container{
    padding-left: 16px;
    padding-top: 8px;
    border: $sticky-note-edit-border-color solid 1px;
    border-radius: 8px;
    width: 100%;
    
}

.tasks-container{
    border: $sticky-note-edit-border-color solid 1px;
    border-radius: 8px;
    width:100%;
}

.sticky-note-edit-content{
    max-height:200px;
    overflow-y: auto;
    overflow-x: hidden;
    background: $sticky-note-edit-content-bg-color;
    margin: 16px 0px 8px 0px;
    width: 100%;
}

.sticky-note-edit-tasks{
    width:100%;
}

.sticky-note-edit-header1{
    background: $sticky-note-header-bg-color;
    width:100%;
    margin-bottom: 0px;
    max-width: 400px;
    color: white;
    border-top-left-radius:  1em;
    border-top-right-radius:  1em;
    // margin-left: -16px;
    // margin-right: -16px;
    // padding-left: -16px;
    // padding-right: -16px;
}
.sticky-note-edit-header1 h2{
    text-align: center;
} 
.sticky-note-edit-header2{
    width:100%;
    border-bottom: $sticky-note-divider-color solid 2px;
}

.task-row-header{
    width:100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    background: lightgray;
    height: 1.5em;
}

.new-task-label{
    height:100%;
    text-align: left;
    vertical-align: bottom;
}
.task-row{
    width:100%;
}

.add-task-row{
    width:100%;
}
.col1-header span{
    text-align:center;
    margin-bottom: 0px;
    font-size: 0.8em;
}
.col2-header span{
    font-size: 0.8em;
    word-wrap:break-word;
}

.sticky-note-edit-action{
    padding-bottom: 16px;
    width:100%;
}

/* Color Picker */

.color-picker-input{
    width: 20px;
    cursor: pointer;
}
        