<!-- VIEW CONTAINER -->
<ng-container *ngIf="editMode=='view'">
  <div fxLayout="column" fxLayoutAlign="start center" fxFlexAlign="center" fxLayoutGap="16px" class="sticky-notes">

    <!-- STICKY NOTES HEADER-->
    <div fxLayout="row" fxFlex="5%" fxLayoutAlign="start center" fxLayoutGap="16px" class="sticky-notes-header">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <div class="size-small" matTooltip="Small"
          [ngStyle]="{'border':currentStickyNoteSizeObject.size === 'small' ? 'red solid 2px' : 'none' }"
          (click)="changeStickyNoteSize('small')"></div>
        <div class="size-medium" matTooltip="Medium"
          [ngStyle]="{'border':currentStickyNoteSizeObject.size === 'medium' ? 'red solid 2px' : 'none' }"
          (click)="changeStickyNoteSize('medium')"></div>
        <div class="size-large" matTooltip="Large"
          [ngStyle]="{'border':currentStickyNoteSizeObject.size === 'large' ? 'red solid 2px' : 'none' }"
          (click)="changeStickyNoteSize('large')"></div>
      </div>
      <div class="fill-remaining">
      </div>
      <div>
          <mat-form-field matTooltip="start typing to filter results" matTooltipShowDelay="{{tooltipOnButtonDelay}}">
              <input type="search" matInput [(ngModel)]="stickyNoteFilterSearchStr">
              <mat-icon matSuffix class="mat-18">search</mat-icon>
            </mat-form-field>
      </div>
      <div class="fill-remaining">
      </div>
      <div fxFlexAlign="center">
        <button mat-icon-button color="accent" (click)="addNewStickyNote()" matTooltip="Add Sticky Note">
          <mat-icon class="icon-3em-bold" aria-label="label">add</mat-icon>
        </button>
      </div>
    </div>

    <!-- STICKY NOTES -->
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="16px" class="sticky-notes-view-content">
      <div class="sticky-note" #stickyNote{{i}} id="stickyNote{{i}}" [style.height]="currentStickyNoteSizeObject.height"
        [style.width]="currentStickyNoteSizeObject.width" [style.background]="stickyNote.color"
        *ngFor="let stickyNote of stickyNotesList.list | stickyNoteFilter: stickyNoteFilterSearchStr; let i = index" (mouseover)="stickyNoteMouseOver(i)"
        (mouseout)="stickyNoteMouseOut()" (click)="stickyNoteClicked(stickyNote, i)">
        <ng-container>
          <div class="sticky-note-content">
            <i *ngIf="stickyNote.isPinned" class="pin"></i>
            <h3>{{stickyNote.title}}</h3>
            <div *ngFor="let textItem of stickyNote.tasks; let i = index" class="sticky-note-tasks">
              <p *ngIf="!textItem.completed">{{textItem.text}}</p>
              <p class="completed-task" *ngIf="textItem.completed">{{textItem.text}}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>

<!-- NEW and EDIT CONTAINER -->
<div *ngIf="editMode=='edit' || editMode=='new' " fxFlexAlign="center" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0px"
  class="sticky-note-edit-container-wrapper">
  <div fxLayoutAlign="center start" class="sticky-note-edit-header1">
    <h2 *ngIf="editMode=='edit'">Edit Sticky Note</h2>
    <h2 *ngIf="editMode=='new'">New Sticky Note</h2>
  </div>
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px" class="sticky-note-edit-container">

    <div class="sticky-note-edit-header2" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="16px">
      <div fxFlexAlign="center">
        <mat-checkbox [(ngModel)]='currentStickyNote.isPinned'>Is Pinned</mat-checkbox>
      </div>

      <div fxFlexAlign="center">
        Color <input class="color-picker-input" [style.background]="currentStickyNote.color"
          [colorPicker]="currentStickyNote.color" (colorPickerChange)="stickyNoteColorChanged($event)" />
      </div>
      <div class="fill-remaining">
      </div>
      <div fxFlex="10%" fxFlexAlign="end">
        <button *ngIf="editMode=='edit'" mat-icon-button color="accent" (click)="addNewStickyNote()"
          matTooltip="Add Sticky Note">
          <mat-icon class="icon-3em-bold" aria-label="label">add</mat-icon>
        </button>
      </div>
    </div>

    <!--  TITLE AND NEW TASK CONTAINER -->
    <div fxLayout="column " fxFlexAlign="start stretch" fxLayoutGap="16px" class="title-and-new-task-container">
      <div fxLayout="row wrap" fxFlexAlign="start" class="sticky-note-edit-header3">
        <mat-form-field [style.marginBottom]="'-1.25em'">
          <mat-label>Title</mat-label>
          <input matInput [(ngModel)]='currentStickyNote.title'>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start stretch" class="add-task-row" fxLayoutGap="8px">

        <div fxFlexAlign="start" fxFlex="25%" class="new-task-label">New Task</div>

        <div class="col1" fxFlex="60%">
          <mat-form-field [style.marginTop]="'-1.25em'" class="custom-form-field">
            <input matInput [(ngModel)]='newTask' (keyup.enter)="addNewTask()">
          </mat-form-field>
        </div>
        <div class="col2" fxFlex="15%" fxFlexAlign="start">
          <button color="accent" mat-icon-button (click)="addNewTask()">
            <mat-icon class="icon-2em-bold" aria-label="label">done</mat-icon>
          </button>
        </div>

      </div>
    </div>

    <!-- TASKS CONTAINER -->
    <div fxLayout="column" class="tasks-container" fxLayoutAlign="start strecth" fxLayoutGap="0px">
      <div fxLayout="row" class="task-row-header" fxLayoutAlign="start start" fxLayoutGap="0px">
        <div class="col1-header" fxFlex="70%">
          <span>Tasks</span>
        </div>
        <div class="col2-header" fxFlex="20%">
          <span>Complete</span>
        </div>
        <div fxFlex="10%">
        </div>
      </div>
      <!--   TASKS  LIST EDIT -->
      <div fxLayout="column" class="sticky-note-edit-content" fxLayoutAlign="start stretch">

        <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let textItem of currentStickyNote.tasks; let j = index"
          class="task-row">

          <div class="col1" fxFlex="65%">
            <mat-form-field [style.marginTop]="'-1.25em'">
              <input matInput [(ngModel)]='textItem.text'>
            </mat-form-field>
          </div>
          <div class="col2" fxFlex="20%">
            <mat-checkbox [(ngModel)]='textItem.completed'></mat-checkbox>
          </div>
          <div fxFlex="15%">
            <button mat-icon-button (click)="deleteTask(j)">
              <mat-icon aria-label="label">delete</mat-icon>
            </button>
          </div>
          <!-- </div> -->
          <!-- <p *ngIf="!textItem.completed">{{textItem.text}}</p>
        <p class="completed-task" *ngIf="textItem.completed">{{textItem.text}}</p> -->
        </div>



      </div>
      <div [style.color]="'red'" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
    </div>
    <div fxLayout="row stretch" fxLayoutAlign="space-around" fxLayoutGap="32px" class="sticky-note-edit-action">
      <button *ngIf="editMode=='new' || editMode=='edit' " mat-raised-button color="primary"
        (click)="cancelNewStickyNote()">Cancel</button>
      <button *ngIf="editMode=='edit'" mat-raised-button [color]="'delete-button'"
        (click)="deleteStickyNote()">Delete</button>
      <button mat-raised-button [color]="'success-button'" (click)="doneEditingStickyNote()">Done</button>
    </div>
  </div>


</div>