<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="main-page">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-dashboard></app-dashboard>
</div>


<router-outlet></router-outlet>
